@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
  height: 100vh;
  display: flex;
  justify-items: center;
}

.container{
  width: 1440px;
  display: flex;
  flex-direction: column;
}